{% extends "!layout.html" %}
{% set css_files = css_files + ["https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css", ] %}


{%- block extrahead %}
    {{ super() }}


    {% if meta is mapping %}
        {% if meta.get("canonical-url") %}
            <link rel="canonical" href="{{ meta.get("canonical-url")|e }}" />
        {% elif meta.get("canonical-base-url") %}
            <link rel="canonical" href="{{ meta.get("canonical-base-url")|e }}/{{ pagename|urlencode|e }}{{ file_suffix|e }}" />
        {% endif %}
    {% endif %}
{% endblock %}


{% block footer %}
    {{ super() }}

    {% if theme_yandex_metrika_id %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym({{ theme_yandex_metrika_id }}, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true,
                trackHash:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/{{ theme_yandex_metrika_id }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
{% endblock %}
