{%- extends "!page.html" %}

{% block body %}
    {{ super() }}

    {% if meta is mapping %}
        {% if meta.get("canonical-url") %}
            <div class="section" style="text-align: right;">
                <p><a href="{{ meta.get("canonical-url")|e }}">{{ _('Canonical URL')|e }}</a></p>
            </div>
        {% elif meta.get("canonical-base-url") %}
            <div class="section" style="text-align: right;">
                <p><a href="{{ meta.get("canonical-base-url")|e }}/{{ pagename|urlencode|e }}{{ file_suffix|e }}">{{ _('Canonical URL')|e }}</a></p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
